.home-bg {
    width: 100%;
    height: auto;
}

.home-bg-container {
    height: calc(100vh - 56px);
    width: 100%;
    overflow: hidden;
}

.address-line {
    margin-bottom: 0;
}

.page-title {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.page-body {
    padding-top: 1rem;
    padding-bottom: 4rem;
}